<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<style>

ul{
  padding: 0;
}
li{
    list-style-type: none;
  }

</style>

</head>

<body>
  <div id="app">
    <h2>リアルタイム検索</h2>
    <input type="text" v-model="keyword">
    <ul>
      <li v-for="(name, index) in filterNames" :key="index">{{ name }}</li>
    </ul>
  </div>


<script>
  const vm = new Vue({
    el: '#app',
    data: {
      keyword: "",
      names: ['佐藤','山田', '鈴木', '田中'],
    },
    computed:{
      filterNames: function(){
        return this.names.filter(name => {
          return name.includes(this.keyword);
        });
      }
    }
  })
    </script>
</body>




</html>
